#wrapper{
    padding-top:50px;
    width:350px;
    height:300px;
    margin: 0 auto;
    background: rgb(241, 238, 194);
}
h1{
    text-align: center;
    color:#2fcf52;
    text-shadow: red 2px 2px 2px ,
    green 2px 2px 2px ,
    red 2px 2px 2px ;
}
p{
    padding-left: 20px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    color:#5c46c0;
}
img{
    width:20px;
    height:20px;
    vertical-align: middle;
}
.us{
    font-size: 15px;
    height:20px;
    margin-left: 10px;
    outline: #c6fd86 2px solid;
}
.us:hover{
    outline: #8d7bcf 2px solid;
}
.us:active{
    outline: #8a7bcf 2px solid;
}
#su{
    display: block;
    width: 40px;
    height:40px;
}
#sub{
    margin-left: 240px;
    display: block;
    width: 40px;
    height:40px;
    border: #888 1px solid;
    background: url(sub.png);
    background-size: 100% 100%;
}
#sub:hover{
    background: url(sub_selected.png);
    background-size: 100% 100%;
    border: #2fcf52 1px solid;
}
